header {
    width: 100%;
    height: 18vh;
    border-bottom: 0.4vh solid #616161;
    background-color: #f5f5f5;
}
body {
    margin: 0;
    overflow: hidden;
}
.lg {
    width: 50%;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lg img {
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.lg div {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 3vh;
    color: #616161;
}
.lg div h1 {
    margin: 0;
    text-align: left;
    width: 100%;
}
.lg div p {
    margin: 0;
}
html {
    font-family: "Roboto", sans-serif;
}
.lte {
    width: 5vw;
    float: left;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    background-color: #f5f5f5;
    border-right: 0.3vh solid #616161;
    overflow: hidden;
    position: relative;
    box-shadow: 0.1vh 0.1vh 0.1vh #000000;
}

.lte ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.lte li {
    background-color: #ddd9d9;
    height: 11vh;
    width: 100%;
    border-bottom: 0.3vh solid #616161;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    overflow: hidden;
}
.lte li a img {
    height: 6vh;
    user-select: none;
}
.lte li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 11vh;
}

.lte li:hover {
    background-color: #bbb8b8;
}

.tab {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

.tab table {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
}

.tab-content {
    overflow: auto;
    width: 100%;
    height: 82vh;
}

table thead {
    position: sticky;
    top: -0.08vh;
}

.tab table th,
.tab table td {
    border: 0.1vh solid #616161;
    padding: 1vh;
    text-align: center;
    max-width: 15vw;
    overflow: hidden;
}
.tab table td {
    word-break: break-all;
}

.tab table th {
    background-color: #ddd9d9;
}
.log {
    width: 50%;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
#ft {
    width: 8vh;
    height: 8vh;
    border: 0.3vh solid #000000;
    border-radius: 100%;
    background: url(https://cdn-icons-png.flaticon.com/512/17446/17446833.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#us {
    margin-right: 3vh;
    font-size: 3vh;
    color: #3f5531;
}
.cad {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vh;
    border-radius: 5vh;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    transition-duration: 0.3s;
    border: 0.1vh solid #000000;
    box-shadow: 0 0 0.5vh rgb(0, 0, 0);
    position: relative;
}

.cad:hover {
    background-color: #d1d1d1;
}
.alunos tr td button {
    width: 100%;
    height: 100%;
    font-size: 2.5vh;
    background-color: #e7e7e7;
    color: #000000;
    border: 0.1vh solid #616161;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 1vh;
    box-shadow: 0.05vh 0.05vh 0.05vh #000000;
}
.alunos tr {
    cursor: pointer;
}
.alunos tr:hover {
    background-color: #dddddd;
}
.alunos tr td button:hover {
    background-color: #cccccc;
}

.alunos tr td button:active {
    background-color: #999999;
}
.alunos tr td img {
    height: 10vh;
}
.opt {
    width: 15vw;
    height: fit-content;
    border: 0.3vh solid #616161;
    border-radius: 1vh;
    position: absolute;
    top: 10.8vh;
    right: 1vw;
    display: none;
    opacity: 0;
    transition-duration: 0.3s;
    background: linear-gradient(to right, #ffffff, #cccccc);
    box-shadow: 0 0 0.5vh rgb(0, 0, 0);
    padding: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    cursor: default;
    z-index: 5;
}

.opt button {
    width: 100%;
    height: 7vh;
    font-size: 3vh;
    background-color: #ffa7a7;
    color: #000000;
    border: 0.1vh solid #616161;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 1vh;
    letter-spacing: 0.1vw;
    box-shadow: 0.1vh 0.1vh 0.1vh #000000;
}

.opt button:hover {
    background-color: #ffd5d5;
}

.opt button:active {
    background-color: #ff6767;
}

#add, #excl, #atua, #addo, #addp {
    width: 100%;
    height: 10vh;
    font-size: 3vh;
    background-color: #d3e2d0;
    color: #0f7401;
    border: 0.3vh solid #065703;
    text-shadow: 0.1vh 0.1vh 0.1vh #13610088;
    cursor: pointer;
    transition-duration: 0.3s;
    letter-spacing: 0.1vw;
}

#add:hover, #addo:hover, #addp:hover {
    background-color: #c9ffd5;
}

#add:active,
 #addo:active,
 #addp:active {
    background-color: #a2ff9a;
}
#excl {
    border-color: #cc2f2f;
    color: #b41e1e;
    letter-spacing: 0.1vw;
    background-color: #ffd8d8;
}

#atua {
    border-color: #47c720;
    color: #3ccf68;
    letter-spacing: 0.1vw;
    background-color: #d2ffd8;
}
#excl:hover {
    border-color: #e92525;
    color: #8a1111;
    background-color: #ff7070;
}

#atua:hover {
    border-color: #47ff0f;
    color: #51b46f;
    background-color: #d7f5d7;
}
#excl:active {
    border-color: #b32929;
    color: #921b1b;
    background-color: #802c2c;
}

#atua:active {
    border-color: #35a015;
    color: #2ba54f;
    background-color: #d7f5d7;
}

.cadalct {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000070;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition-duration: 0.3s;
    top: 0;
    opacity: 0;
}

.cadal {
    width: 50vw;
    height: 80vh;
    background: linear-gradient(0deg, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);
    border: 0.3vh solid #616161;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0.3vh 0.3vh 0.3vh #000000;
}
.info {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info form div {
    margin-bottom: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#env {
    width: 100%;
    height: 10vh;
    background-color: #ebebeb;
    color: #000000;
    font-size: 3vh;
    border: 0.1vh solid #616161;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 1vh;
    letter-spacing: 0.1vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

#env:hover {
    background-color: #edffe2;
}

#env:active {
    background-color: #bbf596;
}

.info form div input,
.info form div select {
    width: 100%;
    padding: 0.5vh;
    border-radius: 0.5vh;
    transition-duration: 0.3s;
    height: 60%;
}
.info form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info form div label {
    width: 100%;
    text-align: left;
    font-size: 2.5vh;
    margin-bottom: 0.5vh;
}
.info h1 {
    font-size: 5vh;
    margin-bottom: 2vh;
    border-bottom: 0.3vh solid #000000;
    width: 70%;
    text-align: center;
    padding: 1vh;
}
#fch {
    position: absolute;
    top: 0;
    right: 0;
    width: 8vh;
    height: 8vh;
    background-color: #ff6767;
    color: #ffffff;
    border: 0.3vh solid #616161;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fch:hover {
    background-color: #fa9e9e;
}

#fch:active {
    background-color: #cc2f2f;
}

#fch img {
    height: 60%;
}

.pes {
    width: 100%;
    height: 5vh;
    background-color: #e9e9e9;
    border: 0.3vh solid #616161;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
}
.pes input {
    height: 70%;
    font-size: 3vh;
    border: 0.3vh solid #000000;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    box-shadow: 0.1vh 0.1vh 0.1vh #000000;
}
#bus {
    cursor: pointer;
    background-color: #f1f1f1;
    border-left: none;
    border-radius: 0;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    transition-duration: 0.3s;
}

#bus:hover {
    background-color: #cccccc;
}

#bus:active {
    background-color: #999999;
}
.pes div {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 5vh;
    flex-wrap: nowrap;
}
.pes div form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
#pesq {
    width: 80%;
    height: 100%;
    font-size: 3vh;
    background-color: #f1f1f1;
    color: #000000;
    border: 0.1vh solid #616161;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 1vh;
}

#pesq:hover {
    background-color: #cccccc;
}

#pesq:active {
    background-color: #999999;
}
.del {
    width: 25vw;
    height: 12vh;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(180,180,180,1) 100%);
    border: 0.3vh solid #616161;
    transition-duration: 0.3s;
    border-top-left-radius: 10vh;
    position: absolute;
    right: 0;
    bottom: -12vh;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    box-shadow: 0.3vh 0.3vh 0.3vh #000000;
}
.del button {
    width: 8vh;
    height: 8vh;
    font-size: 3vh;
    color: #ffffff;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 1vh;
    background-color: #99999975;
    margin-left: 3vh;
    box-shadow: 0.1vh 0.1vh 0.1vh #000000;
}
.editar {
    border: 0.1vh solid #73e964;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editar:hover {
    background-color: #50cc4a;
}

.delet {
    border: 0.1vh solid #ff4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delet:hover {
    background-color: #ff8282;
}

.editar img {
    height: 70%;
}

.delet img, .exp img {
    height: 70%;
}

.editar:active {
    background-color: #389b33;
}

.delet:active {
    background-color: #cc2f2f;
}

.exp {
    border: 0.1vh solid #4da9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp:hover {
    background-color: #c2f5ec;
}

.exp:active {
    background-color: #21c7d3;
}

.del form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.excct, .edict {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000070;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition-duration: 0.3s;
    top: 0;
    opacity: 0;
}
.exc, .edi {
    width: 40vw;
    height: 80vh;
    background: linear-gradient(to right, #ffffff, #cccccc);
    border: 0.3vh solid #616161;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.exc {
    height: 50vh;
}
#fche, #fchd {
    position: absolute;
    top: 0;
    right: 0;
    width: 8vh;
    height: 8vh;
    background-color: #ff6767;
    color: #ffffff;
    border: 0.3vh solid #616161;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fche:hover, #fchd:hover {
    background-color: #fa9e9e;
}

#fche:active, #fchd:active {
    background-color: #cc2f2f;
}

#fche img, #fchd img {
    height: 60%;
}

#cp, #al, #pe, #nme {
    pointer-events: none;
    border: none;
    font-weight: bold;
    background-color: transparent;
}
.excp {
    width: 40vw;
    height: 40vh;
    background: linear-gradient(to right, #ffffff, #cccccc);
    border: 0.3vh solid #616161;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#pe {
    border: none;
}
#chk {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
}
#forma, #transf {
    width: fit-content;
    height: 3vh;
    cursor: pointer;
}
#chk label {
    font-size: 2.5vh;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
em {
    color: #bd0000;
    font-style: normal;
}
.exb {
    position: absolute;
    bottom: 0;
    border-top: 0.3vh solid #616161;
}
table {
    box-shadow: 0.3vh 0.3vh 0.3vh #000000;
}
#ob {
    color: #bd0000;
    text-align: left;
    border: none;
    font-size: 2vh;
    margin: 0;
    width: 100%;
}
.na {
    width: 100%;
    height: 7vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #ffb9b9c4;
    color: #4d0000;
    border: 0.3vh dashed #ff0000;
    letter-spacing: 0.1vw;
    font-size: 2.5vh;
}

@media screen and (max-width: 900px) {
    .lte {
        float: none;
    }
}